<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <beans:bean id="servicesForbiddenEntryPoint" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"></beans:bean>

    <security:http
            realm="Protected API"
            use-expressions="true"
            entry-point-ref="servicesForbiddenEntryPoint">


        <security:intercept-url pattern="/paises" method="GET" access="permitAll"/>
        <security:intercept-url pattern="/autenticacao" access="permitAll"/>
        <security:intercept-url pattern="/app/**" access="permitAll"/>
        <security:intercept-url pattern="/bower_components/**" access="permitAll"/>

        <!--deveria ser isAUtenticated-->
        <security:intercept-url pattern="/usuarios/current" access="permitAll"/>

        <security:intercept-url pattern="/lancamentos/**" access="permitAll"/>
        <!--<security:intercept-url pattern="/lancamentos/**" access="hasRole('ROLE_GERENTE')"/>-->

        <security:intercept-url pattern="/usuarios" method="PUT" access="permitAll"/>
        <security:intercept-url pattern="/usuarios" method="DELETE" access="permitAll"/>
        <security:intercept-url pattern="/usuarios" method="POST" access="permitAll"/>
        <security:intercept-url pattern="/usuarios" method="GET" access="permitAll"/>

        <security:intercept-url pattern="/**" access="permitAll"/>

        <!--always-use-default-target="false"-->
        <!--default-target-url="http://localhost:9000/#/candidatos"-->
        <security:form-login login-processing-url="/autenticacao"
                             username-parameter="login"
                             password-parameter="senha"
                             authentication-failure-url="/app/#/login?error"
                             always-use-default-target="true"
                             default-target-url="/app/#/?success"/>
        <security:logout logout-url="/logout" logout-success-url="/app/#/"/>
    </security:http>

    <beans:bean id="passwordEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    </beans:bean>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="serviceUsuario">
            <security:password-encoder ref="passwordEncoder"></security:password-encoder>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>