<div class="btn-toolbar" >
  <p class="pull-right">
			<a 	ng-if="encaminhamento.id" class="btn btn-primary btn-sm"
					ng-href="{{contrato}}" target="_blank"
					type="button" title="Clique para Imprimir ou pressione as teclas 'Ctrl + P'">
					<span class="glyphicon glyphicon-print"></span>
			</a>
			<!-- <button class="btn btn-default btn-sm" 
							data-ng-click="isCollapsed = !isCollapsed" 
							type="button" title="Opções de filtro">
							<span class="glyphicon glyphicon-filter"></span>
			</button> -->
			<button data-ng-click="encaminhamento={}" class="btn btn-default btn-sm"
	            type="button"
	            title="Limpar">
	      <span class="glyphicon glyphicon-file"></span>
	    </button>
			<button class="btn btn-default btn-sm" data-ng-click="closeAll()" 
							type="button" title="Clique para fechar todos os paineis">
							<span class="glyphicon glyphicon-minus"></span>
			</button>
			<button class="btn btn-default btn-sm" data-ng-click="openAll()" 
							type="button" title="Clique para abrir todos os paineis">
							<span class="glyphicon glyphicon-plus"></span>
				</button>
		</p>
</div>