<accordion-group is-open="panel.open2" > 
			<accordion-heading>
				Pesquisar encaminhamento <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': panel.open2, 'glyphicon-chevron-right': !panel.open2}"></i>
			</accordion-heading>
			
					<div class="col-6 col-sm-6 col-lg-3">
					<div class="form-group">
			      <label class="control-label">Código </label>
			      <div class="controls">
			        <input data-ng-model="encaminhamentoFilter.id" type="number" class="form-control">
			      </div>
			    </div>
						<div class="form-group">
							<label class="control-label">Situacao </label>
								<div class="controls" >
									<select class="form-control" data-ng-model="encaminhamentoFilter.situacao">
										<option value="ANDAMENTO">Em andamento</option>
		                <option value="SUCESSO">Sucesso</option>
		                <option value="FALHA">Falha</option>
									</select>
								</div>
						</div>
						<div class="form-group">
							<label class="control-label">Data do encaminhamento</label>
							<div class="controls">
                <p class="input-group">
                  <input  type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
                          ng-model="encaminhamentoFilter.lancamento.dataDePagamento" is-open="opened" min-date="encaminhamentoFilter.lancamento.dataDeCadastro"
                          show-button-bar="false"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatePicker($event)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </p>
              </div>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-lg-3">
						<div class="form-group">
							<label class="control-label">Candidato </label>
							<div class="pull-right">
								<a class="glyphicon glyphicon-plus" href="#/candidatos"></a>
							</div>
							<div ng-class="{'has-error':!encaminhamentoFilter.candidato.id}">
								<select  
												class="form-control" data-ng-model="encaminhamentoFilter.candidato" 
												data-ng-options="(candidato.nome) for candidato in candidatos | orderBy:'dataDeAlteracao':true">
									<option value="" disabled data-ng-selected="encaminhamentoFilter.id">{{encaminhamentoFilter.candidato.nome}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Vaga </label>
							<div class="pull-right">
									<a class="glyphicon glyphicon-plus" href="#vagas"></a>
							</div>
							<div ng-class="{'has-error':!encaminhamentoFilter.vaga.id}">
								<select class="form-control" data-ng-model="encaminhamentoFilter.vaga" 
												data-ng-options="(vaga.id + ' / ' + vaga.cargo.nome + ' / '+ vaga.situacao +' / '+vaga.empresa.nome) for vaga in vagas | orderBy:'dataDeAlteracao':true">
									<option value="" disabled data-ng-selected="vaga.id">{{encaminhamentoFilter.vaga.id}} / {{encaminhamentoFilter.vaga.cargo.nome}} / {{encaminhamentoFilter.vaga.empresa.nome}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Ultima alteração</label>
							<div class="controls">
				        <input data-ng-model="encaminhamentoFilter.usuario.nome" type="text" class="form-control">
				      </div>
						</div>
						
					</div>
					<div class="col-3 col-sm-3 col-lg-3">
						<div class="form-group">
							<label class="control-label">Valor (RS$)</label>
								<div class="controls">
									<input	type="number" class="form-control" 
													data-ng-model="encaminhamentoFilter.lancamento.valor" 
													placeholder="Valor do encaminhamento (30% do primeiro salário da vaga)"/>
								</div>
						</div>
						<div class="form-group">
						<label class="control-label">Data de pagamento </label>
							<div class="controls">
                <p class="input-group">
                  <input  type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
                          ng-model="encaminhamentoFilter.lancamento.dataDePagamento" is-open="opened" min-date="encaminhamentoFilter.lancamento.dataDeCadastro"
                          show-button-bar="false"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatePicker($event)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </p>
              </div>
						</div>
					</div>
					<div class="col-3 col-sm-3 col-lg-3">
						<div class="form-group">
							<label class="control-label">Observações</label>
							<div class="controls">
								<textarea class="form-control" data-ng-model="encaminhamentoFilter.observacoes" 
													rows="5" placeholder="Insira aqui as observações da encaminhamento">
								</textarea>
							</div>
						</div>
					</div>
			
		</accordion-group>