	<div id="chamada" class="jumbotron">
	  <div class="container-fluid">
	    <!-- <img src="images/Vagas-Empregos1.png"/> -->
	    <h2>Excelência em recrutamento e encaminhamento</h2>
	    <p><a class="btn btn-default" role="button">Saiba mais &raquo;</a></p>
	  </div>
	</div>

  <div id="cadastro" class="section prototype">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Instituição de Ensino</h2>
          <p>Tenha um parceiro para auxiliar seus acadêmicos a encontrar oportunidades e por em prática seus conhecimentos. </p>
          <p><a class="btn btn-primary" href="#" role="button">Quero me cadastrar &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Candidato</h2>
          <p>Encontre a oportunidade que você precisa para ingressar no mercado de trabalho em sua área de estudo. </p>
          <p><a class="btn btn-primary" href="#" role="button">Quero me cadastrar &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Empresa</h2>
          <p>Ofereça oportunidades e ganhe a chance de qualificar o profissional de amanhã contando com nosso apoio.</p>
          <p><a class="btn btn-primary" href="#" role="button">Quero me cadastrar &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>

  <div id="instituicoes" class="section">
    <div class="container">
      <h3>Algumas <a href="">empresas</a> que trabalham com a Iguassu</h3>
      <ul class="list-unstyled list-inline">
        <!-- <li><img src="images/pti.png"/></li>
        <li><img src="images/poloiguassu.png"/></li>
        <li><img src="images/unioeste.png"/></li>
        <li><img src="images/logicti.png"/></li> -->
      </ul>
      <ul class="list-unstyled list-inline">
        <!-- <li><img src="images/verticall.png"/></li>
        <li><img src="images/cits.png"/></li>
        <li><img src="images/nandeva.png"/></li>
        <li><img src="images/borkenhagen.png"/></li>
        <li><img src="images/itaipu.png"/></li>
        <li><img src="images/acifi.png"/></li> -->
      </ul>
    </div>
  </div>

  <div id="oportunidades">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2>Confira as oportunidades</h2>
          <p>A Iguassu disponibiliza vagas para estudantes do curso de:</p>
          <ul>
            <li>Administração, Ciências Contábeis;</li>
            <li>Ciência da Computação, Sistemas de Informação e áreas afins;</li>
            <li>Administração ou Secretariado Executivo;</li>
            <li>Publicidade e Propaganda.</li>
          </ul>
          <p>Para maiores informações entrar em contato pelo Tel: 3576-7107 Gláucia. </p>
          <p><a class="btn btn-default" href="#" role="button">Saiba mais &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <div id="noticias" class="list-group">
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">01 (uma) vaga para estudantes do curso de ADMINISTRAÇÃO OU SECRETARIADO EXECUTIVO.</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">02 (duas) Vagas para estudantes do curso de Ciência da Computação, Sistemas de Informação e áreas afins.</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">01 (uma) Vaga para estudantes do curso de Administração ou Ciências Contábeis.</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">01 (uma) vaga para estudantes do curso de PUBLICIDADE E PROPAGANDA.</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <p>Como a Iguassu atua:
            <ul>
              <li>Auxiliando instituições na identificação das oportunidades junto a pessoas jurídicas de direito público e privado;</li>
              <li>Facilitando o ajuste dos encaminhamentos entre as partes envolvidas: empresas e candidatos;</li>
              <li>Prestando serviços administrativos de cadastramento de candidatos, triagem, pré-seleção, convocação e encaminhamento de candidatos, bem como preparando toda a documentação legal;</li>
            </ul>
          </p>
        </div>
        <div class="col-md-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14410.019822742168!2d-54.58456523163319!3d-25.454809033831943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f69b15d6227625%3A0x3d0eee6fbf9f7a10!2sITAI+-+Instituto+de+Tecnologia+Aplicada+e+Inova%C3%A7%C3%A3o!5e0!3m2!1spt-BR!2s!4v1405452041846" height="300" frameborder="0" class="maps"></iframe>
        </div>
      </div>
      <p>&copy; 2014 <a href="http://www.iguassu.com.br">Iguassu</a>. Todos os direitos reservados.</p>
    </div>
  </footer>
