<accordion-group is-open="panel.open1">
    <accordion-heading>
        Dados Pessoais <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': panel.open1, 'glyphicon-chevron-right': !panel.open1}"></i>
    </accordion-heading>
    <div class="row">
      <div ng-if="candidato.id" class="col-md-3">
          <div class="thumbnail">
              <a href=""class="thumbnail" >
                <img ng-src="{{url}}">
              </a>
              <input type="file" ng-file-select="onFileSelect($files)">
            <!-- <form method="POST" action="candidatos/foto" enctype="multipart/form-data">
              Escolher o arquivo <input type="file" name="file">
              <input type="hidden" name="name" ng-model="id" ng-value="id">
              <input type="submit" value="Enviar"> Enviar
            </form> -->
          </div>
      </div>
      <!-- documentos -->
        <div class="col-md-3">
          <div class="form-group">
            <label class="control-label">Código </label>
            <div class="controls">
              <input data-ng-model="candidato.id" type="number" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Nome <span class="obrigatorio">*</span> </label>
              <span class="navbar-right">
                <input type="radio" name="genero" ng-model="candidato.genero"
                          value="MASCULINO">
                                &nbsp<strong>Masculino</strong>
                <input type="radio" name="genero" ng-model="candidato.genero"
                          value="FEMININO">
                                &nbsp<strong >Feminino&nbsp<span class="obrigatorio">*</span></strong>
              </span>
            <div ng-class="{'form-group has-error': !candidato.nome}">
              <div class="controls">
                <input data-ng-model="candidato.nome" type="text" placeholder="Insira o nome do candidato (a) ..." class="form-control">
              </div>
            </div>
          </div>
           
          <div class="form-group">
            <label class="control-label">RG</label>
            <div class="controls">
              <input data-ng-model="candidato.rg" type="text" placeholder="Insira o RG do candidato (a) ..." class="form-control">
            </div>
          </div>
          
          <div class="form-group">
            <label class="control-label">CPF</label>
            <div class="controls">
              <input data-ng-model="candidato.cpf" type="text" ui-mask="999.999.999-99" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Data de nascimento<span class="obrigatorio">*</span></label>
            <div class="form-group" ng-class="{'has-error': !candidato.dataNasc}">
              <div class="controls">
                <p class="input-group">
                  <input  disabled type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
                          ng-model="candidato.dataNasc" is-open="opened" max-date="today"
                          show-button-bar="false" ng-required="true" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"  ng-click="openDatePicker($event)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- outras informações  -->
        <div class="col-md-3" >    
          <div class="form-group">
            <label class="control-label">Necessidades Especiais</label>
            <div class="pull-right">
              <a class="glyphicon glyphicon-remove" ng-if="candidato.necessidadeEspecial" data-ng-click="candidato.necessidadeEspecial=null"></a>
            </div>
            <div class="controls">
              <select class="form-control" data-ng-model="candidato.necessidadeEspecial">
                <option value="AUDITIVA">Auditiva</option>
                <option value="VISUAL">Visual</option>
                <option value="FISICA">Física</option>
                <option value="MENTAL">Mental</option>
                <option value="OUTRO">Outro</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Situação</label>
            <div class="controls">
              <select class="form-control" data-ng-model="candidato.situacao">
                <option value="DISPONIVEL">Disponível</option>
                <option disabled value="BLOQUEADO">Bloqueado</option>
                <option disabled value="EMPREGADO">Empregado (a)</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Nacionalidade</label>
            <div class="pull-right">
              <a class="glyphicon glyphicon-plus" data-ng-click="openPais('sm')"></a>
            </div>
            <div class="controls">
              <select class="form-control" data-ng-model="candidato.nacionalidade" data-ng-options="(pais.nome) for pais in paises.slice().reverse()">
                <option value="" disabled data-ng-selected="candidato.nacionalidade.id">{{candidato.nacionalidade.nome}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Estado Civil</label>
            <div class="controls">
              <select class="form-control" data-ng-model="candidato.estadoCivil">
                <option value="SOLTEIRO">Solteiro</option>
                <option value="CASADO">Casado</option>
                <option value="SEPARADO">Separado</option>
                <option value="DIVORCIOADO">Divorciado</option>
                <option value="VIUVO">Viúvo</option>
              </select>
            </div>
          </div>

          <div class="form-group" ng-if="candidato.dataDeContrato">
            <label class="control-label">Data de contrato</label>
            <div class="pull-right">
              <i ng-if="contratoVencido(candidato.dataDeContrato)&&lancamentosDoCandidato" class="obrigatorio"> Contrato vencido</i>
              <a  ng-if="contratoVencido(candidato.dataDeContrato)" class="glyphicon glyphicon-repeat"
                  popover-placement="right" popover-trigger="mouseenter" popover="{{lancamentosDoCandidato}}"
                  ng-click="renovarContrato()">
              </a>
            </div>
            <div class="form-group" ng-class="{'has-error': !candidato.dataDeContrato}">
              <div class="controls">
                <p class="input-group">
                  <input  type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
                          ng-model="candidato.dataDeContrato" is-open="openedDateContrato" 
                          show-button-bar="false" ng-required="true" disabled />
                  <span class="input-group-btn">
                    <button disabled type="button" class="btn btn-default"  ng-click="openDateContratoPicker($event)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
       <!-- contato  -->
      <div class="col-md-3" >
        <div class="form-group">
          <label class="control-label">Telefone residencial</label>
          <div class="controls">
            <input data-ng-model="candidato.telefoneResidencial" type="text" class="form-control" ui-mask="(99) 9999-9999">
          </div>
        </div> 
        <div class="form-group">
          <label class="control-label">Telefone comercial</label>
          <div class="controls">
            <input data-ng-model="candidato.telefoneComercial" type="text" ui-mask="(99) 9999-9999" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Telefone celular</label>
          <div class="controls">
            <input data-ng-model="candidato.telefoneCelular" ui-mask="(99) 9999-9999" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Email</label>
          <div class="controls">
            <input data-ng-model="candidato.email" type="text"  placeholder="exemplo@exemlo.com" class="form-control">
          </div>
        </div>
      </div>

    </div>

    <div class="row"> 
      <div class="col-md-12">
      <hr>
        <div class="form-group">
          <label class="control-label">Observações</label>
          <div class="controls">
            <textarea data-ng-model="candidato.observacoes" class="form-control" rows="6"></textarea>
          </div>
        </div>
      </div>
    </div>  
</accordion-group>