<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li data-ng-class="{ active: isActive('/candidatos')}"><a href="#/candidatos">Candidatos</a></li>
    <li data-ng-class="{ active: isActive('/empresas')}"><a href="#/empresas">Empresas</a></li>
    <li data-ng-class="{ active: isActive('/vagas')}"><a href="#/vagas">Vagas</a></li>
    <li data-ng-class="{ active: isActive('/encaminhamentos')}"><a href="#/encaminhamentos">Encaminhamentos</a></li>
    <li class="dropdown">
       <a class="dropdown-toggle" href="">
            <span >Relatórios</span><b class="caret"></b></a>
        <ul class="dropdown-menu">
           <li><a href="http://localhost:8080/Iguassu/app/Iguassu/app/home/emanuelvictor/Projetos/Iguassu/src/main/webapp/app/reports/candidatos_inadimplentes.pdf" target="_blank" data-ng-click="candidatosInadimplentes()">Candidatos inadimplentes</a></li>
           <li><a href="http://localhost:8080/Iguassu/app/Iguassu/app/home/emanuelvictor/Projetos/Iguassu/src/main/webapp/app/reports/contratos_vencidos.pdf" target="_blank" data-ng-click="contratosVencidos()">Contratos vencidos</a></li>
           <li><a href="http://localhost:8080/Iguassu/app/Iguassu/app/home/emanuelvictor/Projetos/Iguassu/src/main/webapp/app/reports/vagas_disponiveis.pdf" target="_blank" data-ng-click="vagasDisponiveis()">Vagas disponíveis</a></li>
           <li><a href="http://localhost:8080/Iguassu/app/Iguassu/app/home/emanuelvictor/Projetos/Iguassu/src/main/webapp/app/reports/vagas_ocupadas.pdf" target="_blank" data-ng-click="vagasOcupadas()">Vagas ocupadas</a></li>
           <li><a href="http://localhost:8080/Iguassu/app/Iguassu/app/home/emanuelvictor/Projetos/Iguassu/src/main/webapp/app/reports/encaminhamentos_nao_pagos.pdf" target="_blank" data-ng-click="encaminhamentosNaoPagos()">Encaminhamentos não pagos</a></li>
           <li><a href="http://localhost:8080/Iguassu/app/Iguassu/app/home/emanuelvictor/Projetos/Iguassu/src/main/webapp/app/reports/encaminhamentos_em_andamento.pdf" target="_blank" data-ng-click="encaminhamentosEmAndamento()">Encaminhamentos em andamento</a></li>
           <li><a href="http://localhost:8080/Iguassu/app/Iguassu/app/home/emanuelvictor/Projetos/Iguassu/src/main/webapp/app/reports/manual.pdf" target="_blank">Passo a passo</a></li>
        </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" href="">
      <span >Outros</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="" data-ng-click="openCursos()" >Cursos</a></li>
        <li><a href="" data-ng-click="openCategoriasCursos()" >Categorias de Cursos</a></li>
        <li><a href="" data-ng-click="openCargos()" >Cargos</a></li>
        <li><a href="" data-ng-click="openTaxaDeCadastro()" >Taxa de cadastro</a></li>
        <li><a href="" data-ng-click="openTaxaDeEncaminhamento()" >Taxa de encaminhamento</a></li>
        <li><a href="#/dicionario">Dicionario de dados</a></li>
      </ul>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li data-ng-class="{ active: isActive('/financeiro')}"><a href="#/financeiro">Financeiro</a></li>
    <li href="" class="dropdown">
      <a href="" class="dropdown-toggle">
      <!-- <b class="caret"></b><span class="glyphicon glyphicon-user">{{usuario.login}}</span>  -->
      <b class="caret"></b><span> <i>{{usuario.login}}</i></span> 
      </a>
      <ul class="dropdown-menu">
        <li >
          <a href="#/configuracoes">
            <strong class="glyphicon glyphicon-cog">Configuracoes</strong>
          </a>
        </li>
        <li>
          <a href="/Iguassu/logout" ng-click="usuario=null">
            <strong id="sair" class="glyphicon glyphicon-off"><i>Sair</i></strong>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  
</div>