<div class="btn-toolbar">
  <p class="pull-right">
    <button data-ng-click="clear()" class="btn btn-default btn-sm"
            type="button"
            title="Limpar">
      <span class="glyphicon glyphicon-file"></span>
    </button>
    <button class="btn btn-default btn-sm"
            data-ng-click="closeAll()"
            title="Clique para fechar todos os paineis">
        <span class="glyphicon glyphicon-minus"></span>
    </button>
    <button class="btn btn-default btn-sm"
            data-ng-click="openAll()"
            title="Clique para abrir todos os paineis">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
  </p>
</div>

