<script type="text/ng-template" id="experienciasDoCandidato.html">
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="close()" data-dismiss="modal">&times;</button>
    <h4 ng-if="experiencia.id" class="modal-title">Atualizar experiência</h4>
    <h4 ng-if="!experiencia.id" class="modal-title">Adicionar experiência</h4>
  </div>
  <div class="modal-body">
  	<form name="experienciaForm" ng-submit="save()" role="form">	
			<div class="form-group">
	      <label class="control-label">Cargo<strong class="obrigatorio"> *</strong></label>
        <div class="pull-right">
        	<a class="glyphicon glyphicon-plus" data-ng-click="openCargos('lg')"></a>
        </div>
	      <div ng-class="{'has-error': !experiencia.cargo.id}">
	        <select class="form-control" data-ng-model="experiencia.cargo" data-ng-options="(cargo.nome) for cargo in cargos.slice().reverse()">
	          <option value="" disabled  data-ng-selected="experiencia.cargo.id">{{experiencia.cargo.nome}}</option>
	        </select>
	      </div>
	    </div>
	    <div class="form-group">
        <label class="control-label">Empresa</label>
        <div class="pull-right">
        	<a class="glyphicon glyphicon-remove" ng-if="experiencia.empresa.id" data-ng-click="experiencia.empresa=null"></a>
          <a class="glyphicon glyphicon-plus" data-ng-click="close()" href="#/empresas"></a>
        </div>
        <select class="form-control" data-ng-model="experiencia.empresa" data-ng-options="empresa as empresa.nome for empresa in empresas.slice().reverse()">
          <option value="" disabled >{{experiencia.empresa.nome}}</option>
        </select>
	    </div>
	    <div class="form-group">
	      <label class="control-label">Vínculo</label>
	      <select class="form-control" data-ng-model="experiencia.vinculoEmpregaticio">
	        <option value="Empregado">Empregado</option>
	        <option value="Estagiário">Estágiário</option>
	        <option value="Bolsista">Bolsista</option>
	        <option value="Voluntário">Voluntário</option>
	        <option value="Empresário">Empresário</option>
	        <option value="Autônomo">Autônomo</option>
	        <option value="Outro">Outro</option>
	      </select>
	    </div>
	    <div class="form-group">
	    	<div class="controls">
	      <label class="control-label">Data de Início<strong class="obrigatorio"> *</strong></label>
	        <div class="input-group" ng-class="{'has-error': !experiencia.dataInicio}">
	          <input  type="text" placeholder="Data de início ..." max-date="experiencia.dataTermino"
	                  class="form-control" datepicker-popup="dd/MM/yyyy"
	                  ng-model="experiencia.dataInicio" is-open="openedDataInicio"
	                  show-button-bar="false" ng-required="true"/>
	          <div class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="openDatePickerDataInicio($event)">
                <i class="glyphicon glyphicon-calendar"></i>
	            </button>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="form-group">
	    	<label class="control-label">Data de Término</label>
	      <div class="controls">
	        <div class="input-group">
	          <input  ng-disabled="!experiencia.dataInicio" min-date="experiencia.dataInicio" 
	                  placeholder="Data de término ..." class="form-control" datepicker-popup="dd/MM/yyyy"
	                  ng-model="experiencia.dataTermino" is-open="openedDataTermino" type="text"
	                  show-button-bar="false" ng-required="false"/>
	          <div class="input-group-btn">
	            <button type="button" class="btn btn-default" ng-click="openDatePickerDataTermino($event)">
                <i class="glyphicon glyphicon-calendar"></i>
	            </button>
	          </div>
	        </div>
	      </div>
	    </div>
      <div class="form-group">
        <label class="control-label">Atividades Desenvolvidas</label>
        <div class="controls">
          <textarea data-ng-model="experiencia.atividades"
                    placeholder="Insira as atividades desenvolvidas ..."
                    class="form-control" rows="4">
          </textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Observações</label>
        <div class="controls">
            <input data-ng-model="experiencia.observacoes"
                   placeholder="Insira observações da experiência ..."
                   class="form-control" >
        </div>
      </div>
      <div class="btn-toolbar">
      	<a href="" class="btn btn-danger" ng-if="experiencia.id" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span> Remover</a>
	      <div class="pull-right">
	      	<button class="btn btn-default" ng-click="close()" type="button">Cancelar</button>
          <button class="btn btn-primary" data-ng-disabled="!experiencia.cargo.nome||!experiencia.dataInicio" type="submit">Salvar informações</button>
	      </div>
      </div>
    </form>
  </div>   
</script>
 
<script type="text/ng-template" id="cargos.html">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="close()" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Cargos</h4>
	</div>
	<div class="modal-body">
		<div class="form-group" >
			<label class="control-label">Cargo <span class="obrigatorio">*</span></label>
			<div class="controls">
				<div ng-class="{'has-error': !cargo.nome}">
					<input type="text" class="form-control" placeholder="Insira o nome do cargo ..." type="text" data-ng-model="cargo.nome">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Descrição</label>
			<div class="controls">
				<input type="text" class="form-control" placeholder="Insira a descrição do cargo ..." type="text" data-ng-model="cargo.descricao">
			</div>
		</div>
		<div class="form-group"><!--gambia-->
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<button type="button" class="btn btn-default" data-ng-click="getCargos()">Consultar</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary" data-ng-disabled="!cargo.nome" data-ng-click="save()">Salvar</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default" data-ng-click="clear()">Limpar</button>
				</div>
			</div>
		</div>
		<table class="table table-hover">
			<tr>
				<td><strong>Cargo</strong></td>
				<td><strong>Descrição</strong></td>
			</tr>
			<tr ng-click="edit(cargo)" ng-repeat="cargo in cargos">
				<td>{{cargo.nome}}</td>
				<td>{{cargo.descricao}}</td>
			</tr>
		</table>
	</div>
</script>
    
<script type="text/ng-template" id="cursosDoCandidato.html">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="close()" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Cursos do candidato</h4>
	</div>
	<div class="modal-body">
		<form name="experienciaForm" ng-submit="save()" role="form">
			<div class="form-group">
				<label class="control-label">Curso</label><span class="obrigatorio"> *</span>
					<div class="pull-right">
						<input 	type="radio" 
										ng-change="handlerPeriodos()" 
										data-ng-model="candidatoCurso.situacaoDoCurso" data-ng-value="'concluido'" name="selected">&nbsp<strong>Concluído</strong>
						<input 	type="radio" 
										data-ng-model="candidatoCurso.situacaoDoCurso" data-ng-value="'cursando'" name="selected">&nbsp<strong>Cursando</strong>
						<input 	type="radio" 
										data-ng-model="candidatoCurso.situacaoDoCurso" data-ng-value="'trancado'" name="selected">&nbsp<strong>Trancado</strong>
						<span class="obrigatorio"> *</span>
						<a class="glyphicon glyphicon-plus" data-ng-click="openCursos()"></a>
					</div>
				<div ng-class="{'has-error': !candidatoCurso.curso.id}">
					<select class="form-control" 
									data-ng-model="candidatoCurso.curso" 
									data-ng-options="(curso.nome+' / '+curso.categoriaCurso.nome) for curso in cursos.slice().reverse()">
						<option value="" data-ng-selected="candidatoCurso.id" disabled>{{candidatoCurso.curso.nome}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Instituição de Ensino</label>
					<div class="pull-right">
						<a class="glyphicon glyphicon-remove" ng-if="candidatoCurso.instituicaoDeEnsino.id" 
											data-ng-click="candidatoCurso.instituicaoDeEnsino=null"></a>
						<a class="glyphicon glyphicon-plus" data-ng-click="close()" href="#/empresas"></a>
					</div>	
				<select class="form-control" data-ng-model="candidatoCurso.instituicaoDeEnsino" 
								data-ng-options="(empresa.nome) for empresa in empresas">
					<option value="" disabled data-ng-selected="candidatoCurso.id">{{candidatoCurso.instituicaoDeEnsino.nome}}</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">Quantidade total de Períodos</label><span class="obrigatorio"> *</span>
				<div ng-class="{'has-error': !candidatoCurso.quantidadeDePeriodos}">
					<div class="controls">
						<input ng-change="handlerPeriodos()" 	data-ng-model="candidatoCurso.quantidadeDePeriodos" 
										type="number" placeholder="Insira a quantidade total de períodos ..." 
										class="form-control">
					</div>
				</div>
			</div>
			<div ng-if="candidatoCurso.quantidadeDePeriodos&&candidatoCurso.situacaoDoCurso!=='concluido'" class="form-group">
				<label class="control-label">Períodos Concluidos</label><span class="obrigatorio"> *</span>
				<div class="obrigatorio">
					<i ng-if="candidatoCurso.periodosConcluidos>candidatoCurso.quantidadeDePeriodos">Quantidade de períodos concluídos maior que a quantidade todal de períodos</i>
				</div>
					<div ng-class="{'has-error': !candidatoCurso.periodosConcluidos||candidatoCurso.periodosConcluidos>candidatoCurso.quantidadeDePeriodos}">
						<input 	data-ng-disabled="candidatoCurso.situacaoDoCurso=='concluido'" 
										data-ng-model="candidatoCurso.periodosConcluidos" type="number" 
										placeholder="Insira os períodos concluidos ..." class="form-control" >
					</div>
			</div>
			<div class="form-group">
				<label class="control-label">Regime</label><span class="obrigatorio"> *</span>
				<div ng-class="{'has-error': !candidatoCurso.regime}">
					<div class="controls">
						<select class="form-control" data-ng-model="candidatoCurso.regime" >								
							<option value="Diario">Diário</option>
							<option value="Semanal">Semanal</option>
							<option value="Mensal">Mensal</option>
							<option value="Bimestral">Bimestral</option>
							<option value="Trimestral">Trimestral</option>
							<option value="Semestral">Semestral</option>
							<option value="Anual">Anual</option>
							<option value="Modular">Modular</option>
							<option value="Periodico">Periódico</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Informações Complementares</label>
				<div class="controls">
					<textarea data-ng-model="candidatoCurso.outrasInformacoes" 
										placeholder="Insira informações complementares ..." 
										class="form-control" rows="4">
					</textarea>
				</div>
			</div>
			<div class="btn-toolbar">
      		<a href="" class="btn btn-danger" ng-if="candidatoCurso.id" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span> Remover</a>
	      <div class="pull-right">
	      	<button class="btn btn-default" ng-click="close()" type="button">Cancelar</button>
          <button class="btn btn-primary" 
          				data-ng-disabled="!candidatoCurso.curso.nome||(!candidatoCurso.periodosConcluidos&&candidatoCurso.situacaoDoCurso!='concluido')||(candidatoCurso.periodosConcluidos>candidatoCurso.quantidadeDePeriodos)||!candidatoCurso.situacaoDoCurso||!candidatoCurso.regime||!candidatoCurso.quantidadeDePeriodos" type="submit">Salvar informações
          </button>
	      </div>
      </div>
		</form>
	</div>
</script>
    
<script type="text/ng-template" id="categoriasDeCursos.html">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="close()" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Categorias de Cursos</h4>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label class="control-label">Categoria <span class="obrigatorio">*</span></label>
			<div class="controls">
				<div ng-class="{'has-error': !categoria.nome}">
					<input type="text" class="form-control" placeholder="Insira a categoria ..." data-ng-model="categoria.nome">
				</div>
			</div>
		</div>
		<div class="form-group"><!--gambia-->
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<button type="button" class="btn btn-default" data-ng-click="getCategoriasDeCursos()">Consultar</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary" data-ng-disabled="!categoria.nome"data-ng-click="save()">Salvar</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default" data-ng-click="clear()">Limpar</button>
				</div>
			</div>
		</div>
		<table class="table table-hover">
			<tr data-ng-repeat="categoria in categoriasDeCursos">
				<td  data-ng-click="edit(categoria)">{{categoria.nome}}</td>
			</tr>
		</table>
	</div>
</script>

<script type="text/ng-template" id="cursos.html">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="close()" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Cursos</h4>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label class="control-label">Nome <span class="obrigatorio">*</span></label>
			<div ng-class="{'has-error':!curso.nome}">
				<div class="controls">
					<input type="text" class="form-control" placeholder="Insira o nome do curso ..." type="text" data-ng-model="curso.nome">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Categoria <span class="obrigatorio">*</span></label>
			<div class="pull-right">
				<a class="glyphicon glyphicon-plus" data-ng-click="openCategoriasCursos()"></a>
			</div>
			<div ng-class="{'has-error':!curso.categoriaCurso.id}">	
				<select class="form-control" data-ng-model="curso.categoriaCurso" data-ng-options="(categoriaCurso.nome) for categoriaCurso in categoriasDeCursos.slice().reverse()">
					<option value="" disabled>{{curso.categoriaCurso.nome}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Descrição</label>
			<div class="controls">
				<textarea type="text" class="form-control" 
									placeholder="Insira a descrição do curso ..." 
									data-ng-model="curso.descricao" rows="5">
				</textarea>
			</div>
		</div>
		<div class="form-group"><!--gambia-->	
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<button type="button" class="btn btn-default" data-ng-click="getCursos()">Consultar</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-primary" data-ng-disabled="!curso.nome||!curso.categoriaCurso.id" data-ng-click="save()">Salvar</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default" data-ng-click="clear()">Limpar</button>
				</div>
			</div>
		</div>
		<table class="table table-hover">
			<tr>
				<td><strong>Nome</strong></td>
				<td><strong>Categoria</strong></td>	
			</tr>
			<tr data-ng-click="edit(curso)" ng-repeat="curso in cursos">
				<td>{{curso.nome}}</td>
				<td>{{curso.categoriaCurso.nome}}</td>
			</tr>
		</table>
	</div>
</script>

<script type="text/ng-template" id="usuario.html">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="close()" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Usuario</h4>
	</div>
	<div class="modal-body"> 
		<form ng-submit="save()">
      
      <div class="row">
	      	      
				<div class="col-md-12">     	
	        <div class="form-group">
	          <label class="control-label">Nome <span class="obrigatorio">*</span> </label>
	            <span class="navbar-right">
	              <input type="radio" name="genero" ng-model="usuario.genero"
	                        value="MASCULINO">
	                              &nbsp<strong>Masculino</strong>
	              <input type="radio" name="genero" ng-model="usuario.genero"
	                        value="FEMININO">
	                              &nbsp<strong >Feminino&nbsp</strong>
	            </span>
	          <div ng-class="{'form-group has-error': !usuario.nome}">
	            <div class="controls">
	              <input data-ng-model="usuario.nome" type="text" placeholder="Insira o nome do usuário (a) ..." class="form-control">
	            </div>
	          </div>
	        </div>
        </div>

	      <div class="col-md-4">
	        <div class="form-group">
	          <label class="control-label">Filial</label>
	          <div class="controls">
	            <input data-ng-model="usuario.filial" type="text" placeholder="Insira a filial onde o usuário (a) trabalha .." class="form-control">
	          </div>
	        </div>

	        <div class="form-group">
	          <label class="control-label">RG</label>
	          <div class="controls">
	            <input data-ng-model="usuario.rg" type="text" placeholder="Insira o RG do usuário (a) ..." class="form-control">
	          </div>
	        </div>
	        
	        <div class="form-group">
	          <label class="control-label">CPF</label>
	          <div class="controls">
	            <input data-ng-model="usuario.cpf" type="text" ui-mask="999.999.999-99" class="form-control">
	          </div>
	        </div>

	        <div class="form-group">
	          <label class="control-label">Data de nascimento</label>
	          <div class="controls">
	            <p class="input-group">
	              <input  type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
	                      ng-model="usuario.dataNasc" is-open="opened"
	                      show-button-bar="false"/>
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="openDatePicker($event)">
	                  <i class="glyphicon glyphicon-calendar"></i>
	                </button>
	              </span>
	            </p>
	          </div>
	        </div>
	      </div>

		    <div class="col-md-4" >
		      <div class="form-group">
		        <label class="control-label">Telefone residencial</label>
		        <div class="controls">
		          <input data-ng-model="usuario.telefoneResidencial" type="text" class="form-control" ui-mask="(99) 9999-9999">
		        </div>
		      </div> 
		      <div class="form-group">
		        <label class="control-label">Telefone comercial</label>
		        <div class="controls">
		          <input data-ng-model="usuario.telefoneComercial" type="text" ui-mask="(99) 9999-9999" class="form-control">
		        </div>
		      </div>
		      <div class="form-group">
		        <label class="control-label">Telefone celular</label>
		        <div class="controls">
		          <input data-ng-model="usuario.telefoneCelular" ui-mask="(99) 9999-9999" type="text" class="form-control">
		        </div>
		      </div>
		      <div class="form-group">
		        <label class="control-label">Email</label>
		        <div class="controls">
		          <input data-ng-model="usuario.email" type="text"  placeholder="exemplo@exemlo.com" class="form-control">
		        </div>
		      </div>
		    </div>

		    <div class="col-md-4" >
		      <div class="form-group">
		        <label class="control-label">Login <span class="obrigatorio">*</span></label>
		        <div ng-class="{'form-group has-error': !usuario.login}">
		          <div class="controls">
		            <input data-ng-model="usuario.login" type="text" class="form-control" placeholder="Insira o login do usuário (a) ...">
		          </div>
		        </div>
		      </div> 
		      <div class="form-group">
		        <label class="control-label">Senha <span class="obrigatorio">*</span></label>
		        <div ng-class="{'form-group has-error': !validaSenha()&&!usuario.id}">
		          <div class="controls">
		            <input data-ng-model="usuario.senha" type="password" class="form-control" placeholder="Insira a senha do usuário (a) ...">
		          </div>
		        </div>
		      </div>
		      <div class="form-group">
		        <label class="control-label">Confirmação de senha <span class="obrigatorio">*</span></label>
		        <div ng-class="{'form-group has-error': confirmacaoSenha!==usuario.senha&&usuario.senha}">
		          <div class="controls">
		            <input data-ng-model="confirmacaoSenha" type="password" class="form-control" placeholder="Confirme a senha do usuário (a) ...">
		          </div>
		        </div>
		      </div>
		      <div class="form-group">
		        <label class="control-label">Perfil <span class="obrigatorio">*</span></label>
		        <div ng-class="{'form-group has-error': !usuario.perfil}">
			        <div class="controls">
			          <select class="form-control" data-ng-model="usuario.perfil">
			            <option value="ATENDENTE">Atendente</option>
			            <option value="ADMINISTRADOR">Administrador</option>
			            <option value="GERENTE">Gerente</option>
			            <option value="BLOQUEADO">Bloqueado</option>
			          </select>
		          </div>
		        </div>
		      </div>
		    </div>
		    <div class="col-md-12">
			    <div class="btn-toolbar">
	      		<a href="" class="btn btn-danger" ng-if="usuario.id&&!validaRemove()" ng-click="delete()">
	      			<span class="glyphicon glyphicon-trash"></span> Remover
      			</a>
			      <div class="pull-right">
			      	<button class="btn btn-default" ng-click="close()" type="button">Cancelar</button>
			          <button class="btn btn-primary" 
			                  data-ng-disabled="(usuario.senha&&confirmacaoSenha!==usuario.senha)||(!usuario.id&&!usuario.senha)||!usuario.nome||!usuario.login||!usuario.perfil" 
			                  type="submit">Salvar informações
			          </button>
		        </div>
		      </div>
	      </div>
			    
    </div>   		      
  </form>
</div>
</script>


<script type="text/ng-template" id="lancamento.html">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="close()" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Lançamento</h4>
	</div>
	<div class="modal-body"> 
		<form ng-submit="save()">
      	  	
      <div class="form-group">
        <label class="control-label">Descrição <span class="obrigatorio">*</span> </label>
        <div ng-class="{'form-group has-error': !lancamento.descricao}">
          <div class="controls">
            <input 	data-ng-model="lancamento.descricao" type="text" 
            				placeholder="Insira a descrição do lançamento ..." class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Valor 
	        <span class="obrigatorio">* 
	        	<i ng-if="lancamento.valor<=0">O valor deve ser maior que 0 (zero) </i>
	        </span>
        </label>
        <div ng-class="{'form-group has-error': !lancamento.valor}">
	        <div class="controls">
	          <input data-ng-model="lancamento.valor" type="number" class="form-control" placeholder="Insira o valor do lançamento ...">
          </div>
        </div>
      </div>
	     	        
      <div class="form-group">
        <label class="control-label">Data de cadastro</label>
        <p class="input-group">
	        <input disabled type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
	                ng-model="lancamento.dataDeCadastro" />
	        <span class="input-group-btn">
	          <button disabled type="button" class="btn btn-default" >
	            <i class="glyphicon glyphicon-calendar"></i>
	          </button>
	        </span>
	      </p>
      </div>

      <div class="form-group">
        <label class="control-label">Data de vencimento <span class="obrigatorio">*</span> </label>
        <div ng-class="{'form-group has-error': !lancamento.dataDeVencimento}">
        	<p class="input-group">
            <input  type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
		                ng-model="lancamento.dataDeVencimento" is-open="openedDateVencimento"
		                show-button-bar="false" ng-required="true" />
		        <span class="input-group-btn">
		          <button type="button" class="btn btn-default" ng-click="openDatePickerDateVencimento($event)">
		            <i class="glyphicon glyphicon-calendar"></i>
		          </button>
		        </span>
	      	</p>
	      </div>	
      </div>
	        
	        <div class="form-group">
	          <label class="control-label">Data de pagamento <span class="obrigatorio">*</span> </label>
	          <p class="input-group">
			        <input  type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
			                ng-model="lancamento.dataDePagamento" is-open="openedDatePagamento"
			                show-button-bar="false">
			        <span class="input-group-btn">
			          <button type="button" class="btn btn-default" ng-click="openDatePickerDatePagamento($event)">
			            <i class="glyphicon glyphicon-calendar"></i>
			          </button>
			        </span>
			      </p>
	        </div>

		  		  
		      <div class="form-group">
		        <label class="control-label">Usuário</label>
		          <div class="controls">
		            <input disabled data-ng-model="usuario.login" type="text" class="form-control">
		          </div>
		      </div>

		      <div class="form-group">
		        <label class="control-label">Tipo <span class="obrigatorio">*</span></label>
		        <div ng-class="{'form-group has-error': !lancamento.tipoLancamento}">
			        <div class="controls">
			          <select class="form-control" data-ng-model="lancamento.tipoLancamento">
			            <option value="ENTRADA">Entrada</option>
			            <option value="SAIDA">Saída</option>
			          </select>
		          </div>
		        </div>
		      </div>

		      <div class="form-group">
		        <label class="control-label">Empresa </label>
		        <div class="pull-right">
		        	<a class="glyphicon glyphicon-plus" href="#/empresas" data-ng-click="close()"></a>
			        <a ng-show="lancamento.pessoa.id" class="glyphicon glyphicon-remove" data-ng-click="lancamento.pessoa=null;"></a>
			      </div>
		        <div class="controls">
		          <select class="form-control" data-ng-options="empresa.nome for empresa in empresas.slice().reverse()" 
		          				data-ng-model="lancamento.pessoa">
		          				<option disabled value="">{{lancamento.pessoa	.nome}}</option>
		          </select>
	          </div>
		      </div>

			    <div class="btn-toolbar">
	      		<a href="" class="btn btn-danger" ng-if="lancamento.id" ng-click="delete()">
	      			<span class="glyphicon glyphicon-trash"></span> Remover
      			</a>
			      <div class="pull-right">
			      	<button class="btn btn-default" ng-click="close()" type="button">Cancelar</button>
		          <button class="btn btn-primary" 
		                  data-ng-disabled="!lancamento.descricao||!lancamento.valor||!lancamento.dataDeVencimento||!lancamento.tipoLancamento||lancamento.valor<=0" 
		                  type="submit">Salvar informações
		          </button>
		        </div>
		      </div>
			    	      
	  </form>
	</div>
</script>

<script type="text/ng-template" id="taxaDeCadastro.html">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="close()" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Lançamento</h4>
	</div>
	<div class="modal-body"> 
		<form ng-submit="save()">
     	  	
      <div class="form-group">
        <label class="control-label">Taxa <span class="obrigatorio">*</span> </label>
        <div ng-class="{'form-group has-error': !taxaDeCadastro.valor}">
          <div class="controls">
            <input 	data-ng-model="taxaDeCadastro.valor" type="number" 
            				placeholder="Insira o valor da taxa de cadastro ..." class="form-control">
          </div>
        </div>
      </div>

	    <div class="btn-toolbar">
    		<a href="" class="btn btn-danger" ng-if="taxaDeCadastro.id" ng-click="delete()">
    			<span class="glyphicon glyphicon-trash"></span> Remover
  			</a>
	      <div class="pull-right">
	      	<button class="btn btn-default" ng-click="close()" type="button">Cancelar</button>
          <button class="btn btn-primary" 
                  data-ng-disabled="!taxaDeCadastro.valor" 
                  type="submit">Salvar
          </button>
        </div>
      </div>
			    	      
	  </form>
	</div>
</script>

<script type="text/ng-template" id="contrato_candidato.html">
	<iframe ng-src="{{urlContratoCandidato}}" width="600" height="830" style="border: none;"></iframe>
</script>